input[type='checkbox'] {
    display: none;
}


#red:checked ~ label[for="red"],
#green:checked ~ label[for="green"],
#blue:checked ~ label[for="blue"] {
    opacity: 0.5;
}

#red:checked ~ .labels span[class="red"],
#green:checked ~ .labels span[class="green"],
#blue:checked ~ .labels span[class="blue"] {
    display: none;
}

label,
.labels span {
    font-size: 18px;
    padding-right: 20px;
    display: inline-block;
    cursor: pointer;
}

label {
    text-decoration: underline;
}

label[for="red"] {
    color: red;
}

label[for="green"] {
    color: green;
}

label[for="blue"] {
    color: blue;
}

.labels,
.labels span {
    margin-left: 5px;
    display: inline-block;
}

.labels span {
    color: #fff;
    padding: 2px 8px 5px 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.labels>.red {
    background-color: red;
}

.labels>.green {
    background-color: green;
}

.labels>.blue {
    background-color: blue;
}