@charset "utf-8";
@import "fonts.css";

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

h1,h2,h3,p,ul {
    margin: 0;
    padding: 0;
}

.header .top .menu a,
.header .slide1 .content .heading,
.header .slide1 .content .text,
.video .heading,
.prices .items>div .price,
.download .title {
    text-shadow: 0 -1px 0 rgba(24, 22, 24, 0.3);
}

/************************* Task 1 *************************/
.header {
    height: 800px;
    border-bottom: 4px #4bcaff solid;
    background: url('../images/bg-header.png') no-repeat;
}

.header .top {
    height: 100px;
    background: url('../images/bg-top.png');
    overflow: hidden;
}

.header .top .logo {
    width: 137px;
    height: 52px;
    margin-top: 16px;
    margin-left: 155px;
    float: left;
    background: url('../images/logo.png') no-repeat;
    cursor: pointer;
}

.header .top .menu {
    font: 14px 'Droid Sans';
    list-style-type: none;
    margin-right: 50px;
    float: right;
}

.header .top .menu li {
    padding-right: 32px;
    display: inline-block;
}

.header .top .menu a {
    color: #fff;
    line-height: 100px;
    text-transform: uppercase;
    display: block;
}

.header .top .menu .active,
.header .top .menu a:hover {
    color: #4bcaff;
    /*font-weight: 900;*/
    outline: none;
    border-top: 2px #4bcaff solid;
}

.header #slider-top {
    position: relative;
}

.header #slider-top .arrow {
    width: 55px;
    height: 55px;
    cursor: pointer;
    position: absolute;
    top: 272px;
}

.header #slider-top .arrow.left {
    left: 70px;
    background: url('../images/slider-arrow-left.png') no-repeat;
}

.header #slider-top .arrow.right {
    right: 70px;
    background: url('../images/slider-arrow-right.png') no-repeat;
}

.header .slide1 .content {
    color: #fff;
    width: 695px;
    margin: 0 auto;
    padding-top: 200px;
    padding-left: 560px;
}

.header .slide1 .content .heading,
.header .slide1 .content .text {
    font-weight: 300;
}

.header .slide1 .content .heading {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 19px;
}

.header .slide1 .content .text {
    font-size: 18px;
}

.header .slide1 .content .buttons {
    font-size: 15px;
    overflow: hidden;
}

.header .slide1 .content .button:first-child {
    margin-right: 40px;
}

.header .slide1 .content .button {
    width: 196px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    float: left;
    background: url('../images/button-slider.png') no-repeat;
    cursor: pointer;
}

.header .slide1 .content .button.active,
.header .slide1 .content .button:hover {
    background: url('../images/button-slider-active.png') no-repeat;
}

.header .slide1 .content .label {
    font-size: 18px;
    clear: both;
    overflow: hidden;
    margin-top: 53px;
}

.header .slide1 .content .label .text {
    line-height: 48px;
    margin-right: 5px;
    float: left;
}

.header .slide1 .content .label .icons {
    width: 53px;
    height: 53px;
    margin-left: 15px;
    float: left;
}

.header .slide1 .content .label .apple {
    background: url('../images/icon-apple.png') no-repeat;
}

.header .slide1 .content .label .android {
    background: url('../images/icon-android.png') no-repeat;
}

.header .slide1 .content .nav {
    margin-top: 74px;
    margin-left: 53px;
    overflow: hidden;
}

.header .slide1 .content .nav a {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    display: block;
    float: left;
    text-indent: -3000px;
    background: url('../images/slider-nav.png') no-repeat;
}

.header .slide1 .content .nav .active,
.header .slide1 .content .nav a:hover {
    background: url('../images/slider-nav-active.png') no-repeat;
}

/************************* Task 2 *************************/
.features {
    height: 580px;
    background: #f9f9f9;
    border-bottom: 1px #e7e7e7 solid;
}

.features .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
    text-transform: lowercase;
    padding-top: 47px;
    padding-bottom: 3px;
}

.features .description {
    font-size: 20px;
    font-weight: 300;
}

.features .title,
.features .description {
    text-align: center;
}

.features .items {
    width: 1145px;
    margin: 0 auto;
    padding-top: 67px;
    overflow: hidden;
}

.features .items>div {
    width: 200px;
    margin-right: 115px;
    float: left;
}

.features .items>div:last-child {
    margin-right: 0;
}

.features .items .image {
    height: 170px;
}

.features .items .name {
    color: #414042;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 30px;
}

.features .items .name.active {
    color: #4bcaff;
}

.features .items .text {
    color: #838383;
    font-size: 13px;
    line-height: 22px;
    margin-top: 17px;
}

.features .items .name,
.features .items .text {
    text-align: center;
}

.features .items .attractive .image {
    background: url('../images/thumb-attractive.png') no-repeat center 0;
}

.features .items .fresh .image {
    background: url('../images/thumb-fresh.png') no-repeat center 0;
}

.features .items .multipurpose .image {
    background: url('../images/thumb-multipurpose-active.png') no-repeat center 0;
}

.features .items .easy .image {
    background: url('../images/thumb-easy.png') no-repeat center 0;
}

/************************* Task 3 *************************/
.gallery {
    height: 574px;
}

.gallery .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
    text-transform: lowercase;
    padding-top: 47px;
    padding-bottom: 3px;
}

.gallery .description {
    font-size: 20px;
    font-weight: 300;
}

.gallery .title,
.gallery .description {
    text-align: center;
}

.gallery .items {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 67px;
}

.gallery .items .screenshot {
    width: 270px;
    margin-right: 30px;
    float: left;
}

.gallery .items .screenshot a {
    height: 200px;
    display: block;
    background: url('../images/thumb-gallery.png') no-repeat;
}

.gallery .items .screenshot .active,
.gallery .items .screenshot a:hover {
    background: url('../images/thumb-gallery-active.png') no-repeat;
}

.gallery .items .screenshot .thumb {
    height: 159px;
}

.gallery .items .screenshot .name {
    color: #4bcaff;
    font-size: 15px;
    text-align: center;
    line-height: 41px;
    text-transform: uppercase;
}

.gallery .items .screenshot .text {
    color: #838383;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    padding: 16px 25px 0 25px;
}

/************************* Task 4 *************************/
.video {
    height: 390px;
    background: url('../images/bg-video.png') no-repeat;
    padding-top: 160px;
}

.video .play {
    width: 115px;
    height: 75px;
    margin: 0 auto 30px auto;
    display: block;
    background: url('../images/play.png') no-repeat;
    cursor: pointer;
}

.video .heading {
    font-size: 48px;
    text-align: center;
    font-weight: 300;
}

.video .description {
    font-size: 18px;
    font-weight: 300;
    width: 750px;
    padding-top: 22px;
    padding-left: 50px;
}

.video .heading,
.video .description {
    color: #fff;
    margin: 0 auto;
}

/************************* Task 5 *************************/
.prices {
    height: 708px;
}

.prices .title {
    font-size: 36px;
    line-height: 32px;
    text-transform: lowercase;
    padding-top: 67px;
    padding-bottom: 3px;
}

.prices .description {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 60px;
}

.prices .title,
.prices .description {
    text-align: center;
}

.prices .items {
    width: 1030px;
    margin: 0 auto;
    overflow: hidden;
}

.prices .items>div {
    display: block;
    float: left;
    text-align: center;
    margin-right: 27px;
    border: 1px #dad7d7 solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #eee;
}

.prices .items>div:last-child {
    margin-right: 0;
}

.prices .items .item1,
.prices .items .item3 {
    margin-top: 20px;
    width: 300px;
}

.prices .items .item2 {
    width: 370px;
}

.prices .items>div .name {
    color: #d7d7d7;
    line-height: 70px;
    font-size: 17px;
    text-transform: uppercase;
}

.prices .items .item2 .name {
    color: #4bcaff;
    font-size: 22px;
}

.prices .items>div .price {
    color: #fff;
    font: 85px 'Droid Sans';
    line-height: 115px;
    font-weight: 700;
}

.prices .items .item1 .price {
    background: #91c46b;
}

.prices .items .item2 .price {
    background: #4bcaff;
}

.prices .items .item3 .price {
    background: #fd7c00;
}

.prices .items .text {
    font-size: 18px;
    line-height: 40px;
}

.prices .items .item1 .text,
.prices .items .item3 .text {
    color: #d7d7d7;
    padding-top: 20px;
    padding-bottom: 21px;
}

.prices .items .item2 .text {
    color: #4bcaff;
    padding-top: 18px;
    padding-bottom: 19px;
}

.prices .items>div .purchase {
    color: #fefefe;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 49px;
    width: 171px;
    height: 49px;
    margin: 0 auto 20px auto;
    display: block;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.prices .items .item1 .purchase {
    background: #91c46b;
}

.prices .items .item2 .purchase {
    margin-bottom: 24px;
    background: #4bcaff;
}

.prices .items .item3 .purchase {
    background: #fd7c00;
}

/************************* Task 6 *************************/
.testimonials {
    height: 380px;
    background: #f9f9f9;
    border-top: 1px #e7e7e7 solid;
}

.testimonials .title {
    color: #414042;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 27px;
}

.testimonials .slide1 {
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.testimonials .slide1 .image {
    float: left;
    padding-right: 30px;
}

.testimonials .slide1 .description {
    color: #4bcaff;
    padding-top: 38px;
}

.testimonials .slide1 .text,
.testimonials .slide1 .author {
    font-size: 14px;
    font-weight: 700;
}

.testimonials .slide1 .author {
    font-style: italic;
    text-align: right;
    float: right;
    margin-top: 2px;
    margin-right: 25px;
}

.testimonials .slide1 .nav {
    padding-top: 50px;
    margin-left: 179px;
    clear: both;
    cursor: default;
}

.testimonials .slide1 .nav a {
    width: 50px;
    height: 6px;
    display: inline-block;
    text-indent: -3000px;
    background: #c1eafb;
}

.testimonials .slide1 .nav a.active,
.testimonials .slide1 .nav a:hover {
    background: #4bcaff;
}

/************************* Task 7 *************************/
.download {
    height: 210px;
    background: #414042;
    overflow: hidden;
}

.download .title {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: -2px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 25px;
}

.download .button {
    color: #414042;
    font-size: 15px;
    text-transform: uppercase;
    width: 196px;
    line-height: 65px;
    margin: 0 auto;
    background: url('../images/button.png') no-repeat;
    display: block;
    text-align: center;
    cursor: pointer;
}

/************************* Task 8 *************************/
.contact {
    height: 573px;
    background: url('../images/bg-map.png') no-repeat;
    padding-top: 108px;
}

.contact .form {
    width: 340px;
    height: 476px;
    margin: 0 auto;
    background: url('../images/bg-contact.png') no-repeat;
}

.contact .form .title {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-bottom: 7px;
}

.contact .form input,
.contact .form textarea {
    color: #aaa;
    font: 14px Arial;
    text-align: center;
    border: none;
    border-top: 1px #5abff0 solid;
    background: #fff;
}

.contact .form input,
.contact .form textarea,
.contact .form button {
    outline: none;
    display: block;
    margin: 14px auto 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.contact .form input {
    width: 252px;
    padding: 9px;
}

.contact .form textarea {
    width: 266px;
    height: 134px;
    padding-top: 9px;
}

.contact .form button {
    color: #72b3cc;
    font-size: 15px;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    width: 190px;
    height: 45px;
    margin-top: 20px;
    background: #414042;
    border: none;
    border-bottom: 4px #313032 solid;
    cursor: pointer;
}

.footer {
    background: #414042;
    overflow: hidden;
}

.footer .copy,
.footer a {
    color: #fefefe;
    font-size: 12px;
}

.footer .copy,
.footer .links {

    height: 110px;
    line-height: 110px;
    opacity: 0.25;
}

.footer .copy,
.footer .links,
.footer .links li {
    float: left;
}

.footer .copy {
    margin-left: 155px;
    float: left;
}

.footer .links {
    margin-right: 166px;
    float: right;
    list-style-type: none;
}

.footer .links li:first-child a {
    border-right: 1px #fefefe solid;
    padding-right: 4px;
}

.footer .links li:last-child a {
    padding-left: 4px;
}

::-webkit-input-placeholder { color: #d3d3d3; }
::-moz-placeholder          { color: #d3d3d3; }
:-moz-placeholder           { color: #d3d3d3; }
:-ms-input-placeholder      { color: #d3d3d3; }