body {
    font: 14px Arial, sans-serif;
    background: #fafafa url('../images/bg.png');
}

body,h1,h2,h3,h4,p,ul,li {
    margin: 0;
    padding: 0;
}

h1,h2,h3 {
    font-family: 'Oxygen', sans-serif;
    font-weight: normal;
}

h1 {
    color: #515151;
    font-size: 38px;
}

h2 {
    color: #222;
    font-size: 18px;
    line-height: 56px;
}

ul,li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

mark {
    color: #c07e00;
    background: #ffe7b9;
}

.stretched {
    padding: 3px;
}

.menu .active,
.banner .caption .button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffbc44;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1), inset 0 0 1px rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1), inset 0 0 1px rgba(0,0,0,.25);
    box-shadow: 0 1px 1px rgba(0,0,0,.1), inset 0 0 1px rgba(0,0,0,.25);
    background-image: -webkit-linear-gradient(to top, rgba(255, 187, 68, .15), rgba(255,255,255,.15));
    background-image: -moz-linear-gradient(to top, rgba(255, 187, 68, .15), rgba(255,255,255,.15));
    background-image: -o-linear-gradient(to top, rgba(255, 187, 68, .15), rgba(255,255,255,.15));
    background-image: -ms-linear-gradient(to top, rgba(255, 187, 68, .15), rgba(255,255,255,.15));
    background-image: linear-gradient(to top, rgba(255, 187, 68, .15), rgba(255,255,255,.15));
}

.menu .active:hover,
.banner .caption .button:hover {
    background-color: #ffac19;
}

.gallery:before,
.footer:before {
    width: 95.5%;
    height: 4px;
    content: '';
    position: absolute;
    top: -11px;
    right: 23px;
    z-index: -1px;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.7);
}

.footer:before {
    width: 100%;
    right: 0;
}

.container,
.container:before,
.container:after {
    max-width: 972px;
    margin: 61px auto 83px auto;
    position: relative;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.18);
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,.18);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.18);
}

.container:after,
.container:before {
    width: 100%;
    height: 4px;
    content: '';
    position: absolute;
    bottom: -86px;
    z-index: -1;
}

.container:after {
    bottom: -89px;
    z-index: -2;
}

.shadows:before,
.shadows:after {
    width: 50%;
    content: '';
    position: absolute;
    bottom: 14px;
    z-index: -3;
    -webkit-box-shadow: 0 0 20px 12px rgba(0,0,0,.6);
    -moz-box-shadow: 0 0 20px 12px rgba(0,0,0,.6);
    box-shadow: 0 0 20px 12px rgba(0,0,0,.6);
}

.shadows:before {
    left: 30px;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.shadows:after {
    right: 30px;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    transform: rotate(3deg);
}

.header {
    padding-top: 20px;
    padding-left: 30px;
    overflow: hidden;
}

.logo {
    float: left;
}

.logo .name {
    color: #222;
    font: 40px 'OleoScript', sans-serif;
}

.logo span.name {
    cursor: default;
}

.logo .slogan {
    color: #999;
    font-size: 11px;
    margin-left: 3px;
}

.menu {
    margin-top: 22px;
    margin-right: 20px;
    float: right;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #666;
    font-family: 'Oxygen', sans-serif;
    display: block;
    margin-left: 35px;
    padding-top: 4px;
    padding-right: 7px;
    padding-bottom: 5px;
    padding-left: 6px;
}

.menu .active {
    padding-top: 5px;
    padding-bottom: 6px;
}

.menu a:hover {
    color: #222;
}

.menu .active,
.menu .active:hover {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(198,141,30,.3);
}

.submenu {
    background: #fff;
    border: 1px #ddd solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: none;
}

.menu li:hover a + .submenu {
    width: 164px;
    display: block;
    position: absolute;
    margin-left: 26px;
    /*box-shadow: 0 1px 5px -3px rgba(0,0,0,.7);*/

}

.menu li:hover a + .submenu:before {
    width: 14px;
    height: 6px;
    content: '';
    position: absolute;
    top: -1px;
    left: 20px;
    background: #fff url('../images/submenu-arrow.png') no-repeat;
}

.menu li:hover a + .submenu li {
    display: block;
    margin: 6px;
    background: #fff;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.menu li:hover a + .submenu li:after {
    width: 96%;
    margin: 5px 0;
    position: absolute;
    left: 4px;
    content: '';
    border-bottom: 1px #e5e5e5 solid;
}

.menu li:hover a + .submenu li:last-child:after {
    border-bottom: none;
}

.menu li:hover a + .submenu li:first-child {
    margin-top: 10px;
}

.menu li:hover a + .submenu li:hover {
    background: #f3f3f3;
}

.menu li:hover a + .submenu a {
    text-align: left;
    margin-left: 0;
    margin-top: 10px;
    padding: 5px 6px 4px 6px;
}

.menu li:hover a + .submenu a,
.menu li:hover a + .submenu a strong {
    color: #666;
    font: normal 12px 'Oxygen', sans-serif;
}

.menu li:hover a + .submenu a span {
    color: #aaa;
    font: 10px Arial, sans-serif;
    display: block;
    padding-top: 1px;
    padding-bottom: 2px;
}

.banner {
    margin: 0 20px;
    padding-bottom: 61px;
    overflow: hidden;
    border-bottom: 1px #e5e5e5 solid;
}

.banner .caption {
    width: 500px;
    text-align: right;
    margin-top: 73px;
    margin-left: 20px;
    margin-right: 0px;
    float: left;
}

.banner .caption p {
    color: #666;
    font-family: 'Oxygen', sans-serif;
    padding-top: 5px;
    padding-right: 4px;
    padding-bottom: 14px;
    border-bottom: 1px #f6f6f6 solid;
}

.banner .caption h1,
.banner .caption p {
    padding-left: 70px;
}

.banner .caption .button {
    width: 168px;
    height: 42px;
    color: #fff;
    font: 17px 'Oxygen', sans-serif;
    text-align: left;
    margin-top: 11px;
    margin-right: 3px;
    display: inline-block;
    position: relative;
    text-shadow: 0 -1px rgba(208,139,18,.5);
}

.banner .caption .button .text {
    padding-top: 4px;
    padding-left: 6px;
    display: block;
}

.banner .caption .button .label {
    color: #d28600;
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(255,255,255,.5);
    position: absolute;
    top: 25px;
    left: 8px;
}

.banner .caption .button .arrow {
    float: right;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    background: url('../images/button-arrow.png') no-repeat 0 center;
}

.picslider {
    width: 302px;
    height: 198px;
    margin-top: 62px;
    margin-left: 56px;
    float: left;
    position: relative;
    background: #f6f6f6;
    box-sizing: content-box;
    -webkit-box-shadow: 0 23px 8px -23px rgba(0,0,0, .8), inset 0 0 3px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 23px 8px -23px rgba(0,0,0, .8), inset 0 0 3px 1px rgba(0,0,0,0.15);
    box-shadow: 0 23px 8px -23px rgba(0,0,0, .8), inset 0 0 3px 1px rgba(0,0,0,0.15);
    /*background: url('../images/picslider-bg.png');*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.picslider .slide {
    overflow: hidden;
}

.picslider > .slide input {
    display: none;
}

.picslider .slide .image {
    width: 292px;
    height: 188px;
    position: relative;
    overflow: hidden;
    margin: 5px;
}

.picslider .slide input ~ .image,
.picslider .slide input ~ .controls {
    display: none;
}

.picslider .slide input:checked ~ .image,
.picslider .slide input:checked ~ .controls {
    display: block;
}

.picslider .controls {
    position: absolute;
    top: 140px;
    left: 12px;
    text-align: left;
}

.picslider .controls .panel,
.picslider .controls .prev,
.picslider .controls .next {
    height: 49px;
    margin-right: -4px;
    display: inline-block;
    background: url('../images/picslider-overlay.png');
}

.picslider .controls .prev,
.picslider .controls .next {
    width: 32px;
    line-height: 49px;
    text-align: center;
    text-indent: -3000px;
    position: relative;
    top: 4px;
    cursor: pointer;
}

.picslider .controls .prev,
.picslider .controls .panel {
    margin-right: -1px;
}

.picslider .controls .panel {
    width: 214px;
    background-position: -35px 0;
}

.picslider .controls .panel .name,
.picslider .controls .panel .title {
    margin-left: 8px;
    display: block;
    position: relative;
    top: 6px;
}

.picslider .controls .panel .name {
    color: #f6f6f6;
    font-size: 13px;
}

.picslider .controls .panel .title {
    color: #676767;
    font-size: 11px;
    position: relative;
    top: 10px;
    left: 1px;
}

.picslider .controls .panel .title span {
    color: #ffc14c;
}

.picslider .controls .prev {

}
.picslider .controls .next {
    background-position: -252px 0;
}

.picslider .controls .prev:hover {
    background-position: 0 49px;
}

.picslider .controls .next:hover {
    background-position: -252px 49px;
}

.gallery {
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.gallery h2 {
    margin-left: 23px;
}

.gallery .wrapper {
    margin-left: 17px;
}

.gallery .item {
    width: 301px;
    float: left;
    position: relative;
    margin-right: 17px;
}

.gallery .item .image {
    padding: 2px;
    overflow: hidden;
    border: 1px #f1f1f1 solid;
    border-bottom: none;
}

.gallery .item .image img {
    float: left;
}

.gallery .item .title {
    height: 50px;
    padding-top: 6px;
    padding-left: 9px;
    background: url('../images/gallery-title-bg.png') no-repeat 0 0;
}

.gallery .item.active .title,
.gallery .item:hover .title {
    background-image: url('../images/gallery-title-active-bg.png');
}

.gallery .item .overlay {
    width: 295px;
    height: 142px;
    margin: 3px;
    position: absolute;
    top: 0;
    opacity: 0;
    background: url('../images/gallery-item-overlay.png') no-repeat;
}

.gallery .item .overlay .download,
.gallery .item .overlay .add,
.gallery .item .overlay .browse {
    text-indent: -3000px;
    display: block;
    position: absolute;
    top: 44px;
    background: url('../images/gallery-item-icons.png') no-repeat;
}

.gallery .item .overlay .download,
.gallery .item .overlay .add {
    margin-right: -1px;
}

.gallery .item .overlay .download,
.gallery .item .overlay .browse {
    width: 36px;
    height: 36px;
    top: 57px;
}

.gallery .item .overlay .download {
    left: 83px;
}

.gallery .item .overlay .download:hover,
.gallery .item .overlay .browse:hover {
    background-position: 0 -36px;
}

.gallery .item .overlay .add {
    width: 62px;
    height: 62px;
    left: 121px;
    background-position: -36px 0;
}

.gallery .item .overlay .add:hover {
    background-position: -36px -62px;
}

.gallery .item .overlay .browse {
    left: 186px;
}

.gallery .item.active > .desc + .overlay,
.gallery .item:hover > .desc + .overlay {
    opacity: 1;
}

.gallery .item .title h3 {
    color: #666;
    font-size: 14px;
}

.gallery .item .title p {
    color: #999;
    font-size: 11px;
    padding-top: 5px;
}

.gallery .item .title h3,
.gallery .item .title p,
.gallery .item .desc {
    text-shadow: 0 1px #fff;
}

.gallery .item .desc {
    color: #666;
    font-size: 12px;
    line-height: 18px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.gallery .icon {
    display: block;
    position: relative;
    background-color: #000;
    background: url('../images/gallery-item-icons.png') no-repeat 0 0;
}

.gallery .download .icon {
    width: 9px;
    height: 10px;
    top: 15px;
    left: 13px;
    background-position: 0 -73px;
}

.gallery .add .icon {
    width: 19px;
    height: 21px;
    top: 22px;
    left: 22px;
    background-position: 0 -84px;
}

.gallery .browse .icon {
    width: 13px;
    height: 11px;
    top: 14px;
    left: 12px;
    background-position: -9px -73px;
}

.tab-content h2 {
    margin-left: 21px;
}

.tab-content > input {
    display: none;
}

.tab-content .tabs {
    height: 42px;
    margin: 0 19px;
    background: url('../images/tabs-bg.png') repeat-x;
    border: 1px #ececec solid;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tab-content .tabs li {
    display: inline-block;
}

.tab-content .tabs label {
    color: #999;
    font-size: 14px;
    line-height: 42px;
    margin-right: -4px;
    display: block;
    padding: 0 12px;
    border-right: 1px #ececec solid;
    cursor: pointer;
}

.tab-content #tab-1:checked ~ .tabs li .tab-link-1,
.tab-content #tab-2:checked ~ .tabs li .tab-link-2,
.tab-content #tab-3:checked ~ .tabs li .tab-link-3 {
    color: #666;
    line-height: 43px;
    position: relative;
    top: 0;
    background: #fff;
}

.tab-content input ~ .inner {
    display: none;
}

.tab-content #tab-1:checked ~ .tab-content-1,
.tab-content #tab-2:checked ~ .tab-content-2,
.tab-content #tab-3:checked ~ .tab-content-3 {
    display: block;
}

/*.tab-content #tab-1:checked ~ .inner,*/
/*.tab-content #tab-2:checked ~ .inner {*/
    /*display: block;*/
/*}*/

.tab-content .inner {
    color: #333;
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 32px;
    padding-bottom: 28px;
    border: 1px #ececec solid;
    border-top: none;
}

.tab-content .inner .spaces {
    padding: 20px 0 0 20px;
}

.tab-content .inner .underline {
    margin: 0 20px;
    padding: 30px 0 10px 0;
    display: block;
    border-bottom: 1px #e5e5e5 solid;
}

.tab-content .inner .bottom {
    font-size: 12px;
    overflow: hidden;
}

.tab-content .inner .list {
    color: #333;
    float: left;
    margin-top: 12px;
    margin-left: 40px;
    list-style-image: url('../images/mark-arrow.png');
}

.tab-content .inner .list li {
    padding-left: 3px;
    line-height: 20px;
}

.tab-content .inner .images {
    float: right;
    position: relative;
    right: -12px;
    padding-top: 12px;
}

.tab-content .inner .thumb {
    width: 280px;
    float: left;
    margin-right: 27px;
    vertical-align: top;
}

.tab-content .inner .thumb img {
    display: inline;
    margin-right: 8px;
    padding: 2px;
    border: 1px #f1f1f1 solid;
}

.tab-content .inner .thumb h4 {
    color: #333;
    display: inline-block;
    padding-bottom: 2px;
}

.tab-content .inner .thumb p {
    color: #999;
    line-height: 20px;
    display: inline;

}

.footer {
    margin: 0 20px;
    margin-bottom: 84px;
    padding-bottom: 20px;
    overflow: hidden;
    clear: both;
    border-top: 1px #e5e5e5 solid;
    position: relative;
}

.footer li {
    border-bottom: 1px #e5e5e5 solid;
}

.footer li:last-child {
    border: none;
}

.footer h3 {
    color: #ffad19;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 35px;
    padding-top: 7px;
}

.footer a {
    color: #666;
    font-size: 12px;
    line-height: 29px;
}

.footer .single,
.footer .cursus,
.footer .articles {
    float: left;
    margin-left: 1px;
}

.footer .single,
.footer .cursus {
    width: 178px;
}

.footer .single {
    margin-right: 64px;
}

.footer .cursus {
    margin-right: 45px;
}

.footer .single li,
.footer .cursus li {
    padding-left: 2px;
}

.footer .articles {
    width: 458px;
}

.footer .articles li {
    padding-top: 9px;
    padding-left: 32px;
    padding-bottom: 8px;
    background: url('../images/mark-page.png') no-repeat 1px 9px;
}

.footer .articles .title {
    color: #666;
    font-size: 12px;
    padding-top: 2px;
    line-height: 12px;
    display: block;
}

.footer .articles .desc {
    color: #aaa;
    font-size: 11px;
    line-height: 14px;
    padding-top: 6px;
    display: block;
}

.footer .articles a:hover .desc {
    color: #999;
}