.offer {
    font-family: Economica;
    width: 296px;
    background: #ff7b04;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
    box-shadow: 1px 1px 8px rgba(0,0,0,.4);
}

.offer .head,
.offer .body .title {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.offer .head {
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    padding: 24px 0;
}

.offer .body {
    margin: 0 4px;
    padding-bottom: 30px;
    background: #fff;
}

.offer .body .title {
    text-align: center;
    padding: 20px 0 12px 0;
    letter-spacing: 1px;
}

.offer .body .price {
    color: #2f495b;
    font: 17px Tahoma;
    text-align: center;
}

.offer .body .price .dig {
    position: relative;
    bottom: 40px;
}

.offer .body .price .num {
    font: bold 70px Arial;
}

.offer .body .price .period {
    position: relative;
    top: 6px;
    right: 2px;
}

.offer .body .options {
    font: 15px Arial;
    list-style-type: none;
    margin: 20px 15px 18px 15px;
    padding: 0;
}

.offer .body .options li {
    color: #aaa;
    background: #f5f5f6 url('marker.png') 35px center no-repeat;
    padding: 8px 0 8px 63px;
    border-bottom: 1px #fff solid;
}

.offer .body .options li:nth-child(odd) {
    background-color: #ebf5fe;
}

.offer .body .button {
    color: #fff;
    font: 13px Arial;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 18px;
    padding: 11px 0;
    background: #ff7b04;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 3px #c24f00 solid;
}