body,ul,li {
    margin: 0;
    padding: 0;
}

.menu {
    text-align: center;
    background: #1aa4ff;
    box-shadow: 1px 1px 8px rgba(100,100,100,.5);s
}

.menu a {
    color: #fff;
    font: 20px Economica, sans-serif;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.menu .nav {
    list-style-type: none;
    position: relative;
}

.menu .nav li {
    display: inline-block;
    padding: 0 15px;
}

.menu .nav .submenu {
    text-align: left;
    display: none;
}

.menu .nav li:hover {
    background: #eee;
}

.menu .nav li:hover a {
    color: #aaa;
}

.menu .nav li:hover > .submenu {
    width: 100%;
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    background: #eee;
    box-shadow: 1px 4px 5px -3px rgba(100,100,100,.5);
}

.menu .nav li:hover > .submenu ul {
    width: 900px;
    margin: 0 auto;
}

.menu .nav li:hover > .submenu ul li {
    padding-left: 5px;
    padding-right: 30px;
}

.menu .nav li:hover > .submenu ul li a {
    color: #aaa;
    font-family: Arial;
    font-size: 14px;
    line-height: 32px;
    text-transform: none;
    display: block;
}

.menu .nav li:hover > .submenu ul li a:hover {
    color: #1aa4ff;
}