body {
    background: #f6f9f9;
}

body,h1,p {
    margin: 0;
    padding: 0;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0;
    display: none;
    z-index: 50;
}

.modal {
    color: #fff;
    background: #f4f4f4;
    border: 3px #999 solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -570px;
    display: none;
    z-index: 100;
}

.modal .close {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-indent: -3000px;
    background: url('../images/modal-close.png') no-repeat;
    position: absolute;
    top: -20px;
    right: 20px;
    cursor: pointer;
}

.modal .close:hover {
    background: url('../images/modal-close.png') no-repeat -40px 0;
}

.modal .image img {
    float: left;
}

.portfolio {
    max-width: 1170px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 100px;
}

.portfolio h1 {
    color: #2d3950;
    font-size: 41px;
    font-weight: normal;
    padding-top: 49px;
}

.portfolio p {
    color: #909090;
    font-size: 15px;
    padding-top: 17px;
    padding-bottom: 67px;
}

.portfolio h1,
.portfolio p {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.portfolio .work .image,
.portfolio .work .hover,
.portfolio .work .buttons {
    width: 360px;
    height: 260px;
}

.portfolio .work .hover,
.portfolio .work .buttons {
    position: absolute;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    z-index: 10;
}

.portfolio .work {
    margin-right: -4px;
    margin-top: -4px;
    padding: 15px 15px;
    display: inline-block;
    box-sizing: content-box;
    position: relative;
}

.portfolio .work .image {
    overflow: hidden;
}

.portfolio .work .image img {
    float: left;
}

.portfolio .work .hover {
    margin-top: 15px;
}

.portfolio .work .hover,
.portfolio .work .buttons a:hover {
    background-color: #25a6f7;
}

.portfolio .work .buttons {
    overflow: hidden;
}

.portfolio .work .buttons a {
    width: 42px;
    height: 42px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -21px;
    z-index: 15;
    -webkit-transition: top .2s linear;
    -moz-transition: top .2s linear;
    -o-transition: top .2s linear;
    transition: top .2s linear;
}

.portfolio .work .buttons .zoom {
    top: 100px;
    margin-left: -48px;
    background: url('../images/buttons.png') no-repeat 0 0;
}

.portfolio .work .buttons .link {
    top: 50px;
    margin-left: 4px;
    background: url('../images/buttons.png') no-repeat -42px 0;
}

.portfolio .work:hover > .image + .hover {
    opacity: .9;
}

.portfolio .work:hover > .image + .hover + .buttons {
    opacity: 1;
}

.portfolio .work:hover > .image + .hover + .buttons a {
    top: 50%;
}