body,ul,li {
    margin: 0;
    padding: 0;
}

.menu {
    width: 100%;
    text-align: center;
    background: #a64dff;
    box-shadow: 1px 1px 8px rgba(100,100,100,.5);
}

.menu a {
    color: #fff;
    font: bold 20px Economica, sans-serif;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.menu .nav {
    display: inline-block;
    list-style-type: none;
}

.menu .nav,
.menu .nav li {
    display: inline-block;
}

.menu .nav a {
    padding: 0 15px;
}

.menu .nav a:hover {
    color: #aaa;
    background: #eee;
}